/* ------------------------ */
/* === 개인정보 편집 모달 === */
/* ------------------------ */
.edit-modal-title {
  font-size: 18px;
  font-weight: 600;
}
.edit-modal-title, .edit-form-container {
  margin-bottom: 25px;
}
.edit-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.edit-label-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.edit-label-input-container input, .edit-phone-input {
  width: 180px;
  height: 35px;
  padding: 0 10px;
  background-color: var(--bottari-input);
  border: none;
  border-radius: 5px;
}
.edit-helper-text {
  margin-top: 5px;
  font-size: 9px;
  color: var(--bottari-placeholder);
}
.edit-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.edit-btn-container button {
  width: 130px;
  height: 30px;
  border-radius: 5px;
}

/* ===== 취소 버튼 ===== */
.cancel-btn {
  color: var(--bottari-blue);
  background-color: #fff;
  border: 1px solid var(--bottari-blue);
}
/* ===== 확인 버튼 ===== */
.confirm-btn {
  border: none;
  color: #fff;
  background-color: var(--bottari-blue);
}