/* ------------------------ */
/* ===== 모달 전체 설정 ===== */
/* ------------------------ */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal-container {
  width: 320px;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
}