/* ------------------------ */
/* === 근무 상태 변경 모달 === */
/* ------------------------ */
.work-status-modal-title {
  font-size: 18px;
  font-weight: 600;
}

/* ------------------------ */
/* ========= 버튼 ========= */
/* ------------------------ */
.work-status-btn-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.work-status-btn-container button {
  width: 130px;
  height: 30px;
  border-radius: 5px;
}
/* ===== 취소 버튼 ===== */
.cancel-btn {
  color: var(--bottari-blue);
  background-color: #fff;
  border: 1px solid var(--bottari-blue);
}
/* ===== 확인 버튼 ===== */
.confirm-btn {
  border: none;
  color: #fff;
  background-color: var(--bottari-blue);
}