.header-container {
  height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.bottari-logo {
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}