/* ------------------------ */
/* ========= info ========= */
/* ------------------------ */
.login-info-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-info-greeting {
  font-size: 26px;
  font-weight: 600;
}
.login-info-date {
  font-size: 14px;
}

/* ------------------------ */
/* ========= 로그인 ======== */
/* ------------------------ */
.login-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login-input-id, .login-input-password {
  padding: 3px 8px;
  width: 200px;
  height: 35px;
}
.login-input-id::placeholder, .login-input-password::placeholder {
  color: var(--bottari-placeholder);
}
.login-btn {
  margin-top: 20px;
  width: 250px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: var(--bottari-blue);
}